/*nav{background-color: white; ;width:100%; height:120px; position: fixed; z-index:100;}*/
nav{background-color: white; ;width:100%;  }

.cintillo {background-color:rgb(228, 228, 228); color:#868686; padding:5px; font-size: 15px; font-family:sans-serif;}
.iconito{border:1px solid rgb(240, 240,240); padding:0.5rem; margin:0.5rem; border-radius:150px; background-color:rgb(230, 230, 230);}

.center {  margin: auto; }
.recuadro {border:3px rgb(0, 0, 120) solid; background-color:whitesmoke; margin:0.1rem;  padding:0.7rem; border-radius:0rem; display:inline;}
select.producto {padding:0.6rem; border-radius:1rem; font-size:1.5rem; }
select.producto option {font-size:1.3rem;}
input.producto{width:80px; padding:0.3rem;font-size:2rem;text-align:center;font-weight: bold; border:1px solid gray;}
input.producto:disabled{width:80px; padding:0.3rem;font-size:2rem;text-align:center;  border:dashed 1px rgb(218, 215, 215); color:white;  background-color: whitesmoke;}
input.producto:read-only{background-color: whitesmoke;border:solid 1px rgb(218, 215, 215);}
input.producto::placeholder{font-size:1rem; color:gray;text-align:center;font-weight: normal;}
.CantSubtotal{color:rgb(0, 0, 120); border-radius:5rem; border:1px solid white; font-weight:bold; padding:0.4rem; height:24px;  vertical-align:top; }
button.agregar{padding:0.3rem; vertical-align:baseline; float: right;border-radius: 3rem;    background-color:green;color:white;margin-left:1rem;width:90px;height:50px;}
error {color:red; font-size: 1rem; }
red{color:red;}
.error {border:1px solid red;}
ch{font-size: 0.8rem;}
.nolink{text-decoration:none;}

.flex-container-justify {  display: -webkit-flex;  display: flex;  -webkit-flex-direction: row; flex-direction: row;}
.flex-container-justify  .flex-item {  -webkit-flex: auto;  flex: auto; border:1px solid black;}
.flex-container-row {    display: flex; flex-direction: row;}
.flex-container-col {    display: flex; flex-direction: row;}


/* ----------------- INICIA SWITCH ---------------------
<label class="switch">
    <input type="checkbox">
    <div class="slider round"></div>
</label>
 -----------------------------------------------------*/
/* Formateamos el label que servirá de contenedor */
.switch {position: relative; display: inline-block; width: 60px; height: 34px; }
/* Ocultamos el checkbox html */
.switch input { display:none; }
/* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
/* Pintamos la perilla de control o slider usando el selector before */
.slider:before { position: absolute; content: ""; height: 26px;  width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
/* Cambiamos el color de fondo cuando el checkbox esta activado */
input:checked + .slider { background-color: green; }  /*#E27AD8*/
/* Deslizamos el slider a la derecha cuando el checkbox esta activado */ 
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
/* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; 
/* ----------------- Fin de Switch ---------------------*/
}




